# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SUD_TextAdventure.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\JWalfort\Documents\BWV\SUD\Projekte\SUD_TextAdventure\.idea\.idea.SUD_TextAdventure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
